<h2 class="header">Create-a-Word</h2>

<form class="" action="/" method="post">
  <input type="text" name="name" placeholder="Sinatra"><br>
  <input type="text" name="definition" placeholder="A Ruby Framework">
  <button class="button" type="submit" name="button">Add Word</button>
</form>

<% @list.each do |word| %>
<h2>
  <a href="/<%=word.id %>"><%=word.name %></a>
</h2>
<% end %>
