<div class="card" style="background-color: #333; border-color: #333;">
  <div class="card-block">
    <h2><strong><%= @word.name %></strong></h2><br><br>
    <h3><%= @word.definition %></h3><br>
    <h4>Example:</h4>
    <p><em>sample text</em></p>
  </div>
</div>

<div class="row">
  <form class="button" action="/<%=@word.id%>" method="post">
    <button type="submit" name="button">Delete</button>
  </form>
  <form class="button" action="/" method="get">
    <button type="submit" name="button">Home</button>
  </form>
  <form class="button" action="/update/<%=@word.id%>" method="get">
    <button type="submit" name="button">Update</button>
  </form>
</div>
